[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
skip_lock = true

[packages]
pandas = "*"
pyyaml = "*"
requests = "*"
plotnine = "*"
bs4 = "*"
lxml = "*"
requests-cache = "*"
requests-ratelimiter = "*"
pyrate-limiter = "*"
macroecon-wrappy = {file = ".", editable = true}
xlrd = "*"
beautifulsoup4 = "*"
altair = {extras = ["all"], version = "*"}
scikit-learn = "*"
nbconvert = "*"

[dev-packages]
pytest = "*"
fredapi = "*"
ipykernel = "*"
yfinance = "*"
waybackpack = "*"
ta = "*"
requests-html = "*"
pandas-ta = "*"

[requires]
python_version = "3.12"
