[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "*"
requests = "*"
plotnine = "*"
bs4 = "*"
lxml = "*"
macroecon-wrappy = {file = ".", editable = true}

[dev-packages]
pytest = "*"
fredapi = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
